# VS Code

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.pytest_cache/
.coverage
coverage/
*.xml

# node_modules（必要に応じて）
# node_modules/

# 環境ファイル
.env
.env.local


# MQTT Broker runtime data
**/mosquitto/data/*.db
